<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILightTempService" />
                <binding name="BasicHttpsBinding_ILightTempService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://raspberrypi-soap.azurewebsites.net/LightTempService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILightTempService"
                contract="LightTempServiceReference.ILightTempService" name="BasicHttpBinding_ILightTempService" />
            <endpoint address="https://raspberrypi-soap.azurewebsites.net/LightTempService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILightTempService"
                contract="LightTempServiceReference.ILightTempService" name="BasicHttpsBinding_ILightTempService" />
        </client>
    </system.serviceModel>
</configuration>