<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMarsvinService" />
                <binding name="BasicHttpsBinding_IMarsvinService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://soapmarsvineservice.azurewebsites.net/MarsvinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarsvinService"
                contract="MarsvinService.IMarsvinService" name="BasicHttpBinding_IMarsvinService" />
            <endpoint address="https://soapmarsvineservice.azurewebsites.net/MarsvinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMarsvinService"
                contract="MarsvinService.IMarsvinService" name="BasicHttpsBinding_IMarsvinService" />
        </client>
    </system.serviceModel>
</configuration>